---
import '@/styles/global.css';
import { urlForSanityImage } from '@/lib/helpers';
type Props = BaseMetaData;
const { title, description, url, seoImage } = Astro.props;
const ogImage =
  seoImage && urlForSanityImage(seoImage).width(600).height(400).url();
---

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content=`${title}` />
<meta name="description" content={description} />
<!-- settingsmap -->
<link rel="settingsmap" href="/settingsmap.xml" />
<!-- RSS -->
<!-- <link rel="alternate" type="application/rss+xml" title={title} href={title} /> -->
<!-- Canonical -->
<link rel="canonical" href={url} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />
