---
import PortableText from '@/components/PortableText.astro';
import type { FooterProps } from '@/lib/types/site';

type Props = FooterProps;
const {
  // footerContents,
  // logo,
  footerCopyRight,
  // socialLinks,
  footerBottomLinks,
} = Astro.props;
// import SanityPicture from 'astro-sanity-picture';
---

<footer class="bg-[#103E75]">
  <!-- <div class="py-10 lg:container lg:pb-[33px] lg:pt-[48px]"> -->
  <div class="py-10 lg:container">
    <!-- <div class="grid-cols-[1fr_3fr] gap-[30px] lg:grid">
      <div
        class="items-center justify-between border-b border-blue-primary max-lg:container max-lg:mb-7 max-lg:flex max-lg:pb-9 lg:flex-col lg:border-none"
      >
        <SanityPicture
          img={{ class: '!w-[100px] !lg:w-[200px] !object-contain' }}
          lqip={{ enabled: false }}
          src={logo}
        />
        <div class="flex lg:mt-[48px]">
          {
            socialLinks?.map(({ icon, href }) => (
              <a href={href} class="mr-3">
                <SanityPicture class="h-[17px]" src={icon} />
              </a>
            ))
          }
        </div>
      </div>
      <div class="grid-cols-3 gap-[30px] max-lg:container lg:grid">
        {
          footerContents.map((content) => (
            <div class="font-SansPro text-body-p2 text-white max-lg:mb-10">
              <div class="mb-3 border-b border-blue-primary pb-[15px] lg:pb-3">
                {content.title}
              </div>
              <ul class="space-y-3">
                {content.links.map((link) => (
                  <li>
                    <a href={link.href} class="">
                      {link.title}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div> -->

    <!-- <div
      class="mt-7 flex flex-col items-center justify-between border-t border-blue-primary font-SansPro text-res-body-p text-blue-primary max-lg:container max-lg:pt-4 lg:mt-9 lg:flex-row lg:border-none lg:text-body-p"
    > -->
    <div
      class="flex flex-col items-center justify-between font-SansPro text-res-body-p text-blue-primary max-lg:container lg:flex-row lg:border-none lg:text-body-p"
    >
      <PortableText value={footerCopyRight} />
      <div class="flex items-center">
        {
          footerBottomLinks?.map(({ title, href }, index) => (
            <div>
              {index !== 0 && '.'}
              <a href={href} class="pr-3">
                {title}
              </a>
            </div>
          ))
        }
        Powered by <a>Otterdev.io</a>
      </div>
    </div>
  </div>
</footer>
