---
import PortableText from '@/components/PortableText.astro';
import type { FooterProps } from '@/lib/types/site';

type Props = FooterProps;
const {
  footerContents,
  logo,
  footerCopyRight,
  socialLinks,
  footerBottomLinks,
} = Astro.props;
import SanityPicture from 'astro-sanity-picture';
---

<footer class="">
  <div class="">
    <SanityPicture src={logo} />
  </div>
  <div>
    {
      socialLinks.map(({ icon, href }) => (
        <div class="text-theme-body">
          <a
            href={href}
            class="hover:text-theme-primary md:text-body-p text-res-body-p"
          >
            <SanityPicture src={icon} />
          </a>
        </div>
      ))
    }
  </div>
  <div class="grid md:grid-cols-3 gap-10 pb-5 col-span-3">
    {
      footerContents.map((content) => (
        <div class="text-theme-body">
          <div class="mb-[21px] text-lg md:text-xl">{content.title}</div>
          <ul class="flex flex-col">
            {content.links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="hover:text-theme-primary md:text-body-p text-res-body-p"
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <div class="">
    <PortableText value={footerCopyRight} />
    <div>
      {
        footerBottomLinks.map(({ title, href }) => (
          <div class="text-theme-body">
            <a
              href={href}
              class="hover:text-theme-primary md:text-body-p text-res-body-p"
            >
              {title}
            </a>
            `.`
          </div>
        ))
      }
    </div>
  </div>
</footer>
