---
import PortableText from '@/components/PortableText.astro';
import type { LegacyToEfficiency as Props } from '@/lib/types/homePage';
import H5 from '@/components/ui/H5.svelte';
import H2 from '@/components/ui/H2.svelte';
import Description from '@/components/ui/Description.svelte';
import Diagram from './Diagram.svelte';
import SolutionMobileLayout from './solution/SolutionMobileLayout.svelte';
import SolutionDesktopLayout from './solution/SolutionDesktopLayout.astro';

const { title, subtitle, diagram, description, solutions } = Astro.props;
---

<section class="container">
  <div class="grid grid-cols-1 pb-[24px] lg:grid-cols-2 lg:gap-x-5 lg:pb-0">
    <article class="space-y-article">
      <H5>{title}</H5>
      <H2>{subtitle}</H2>
      {
        !!diagram?.length && (
          <div class="lg:invisible lg:absolute lg:-top-[10000%] lg:-z-50">
            <Diagram client:load {diagram} />
          </div>
        )
      }
      <Description>
        <PortableText value={description} />
      </Description>
    </article>

    {
      !!diagram?.length && (
        <section class="hidden lg:block">
          <Diagram client:load {diagram} />
        </section>
      )
    }
  </div>

  {
    !!solutions?.length && (
      <>
        <SolutionMobileLayout client:load {solutions} />
        <SolutionDesktopLayout {solutions} />
      </>
    )
  }
</section>
