---
import PortableText from '@/components/PortableText.astro';
import FlowDiagram from '@/components/pages/home/legacy/FlowDiagram.svelte';

import type { LegacyToEfficiencyData } from '@/lib/types/homePage';
import BusinessSolution from './solution/BusinessSolution.svelte';
const { title, subtitle, flowDiagram, description, businessSolutions } =
  Astro.props as LegacyToEfficiencyData;
---

<section class="max-w-[1170px] mx-auto px-5">
  <div class="grid grid-cols-12 lg:gap-x-5">
    <section class="lg:space-y-[26px] space-y-[16px] lg:col-span-6 col-span-12">
      <h2
        class="text-[#1F80F0] uppercase lg:text-[24px] text-[16px] font-bold tracking-[0.16em]"
      >
        {title}
      </h2>
      <!-- TODO Update the prettier config so it doesnt add any extra whitespace -->
      <!-- prettier-ignore -->
      <h3 class="lg:text-[64px] text-[40px] text-[#121212] font-semibold lg:leading-[78px] leading-[49px] whitespace-pre-line">{subtitle}</h3>
      <div class="lg:absolute lg:-z-50 lg:-top-[10000%] lg:invisible">
        <FlowDiagram {flowDiagram} />
      </div>
      <div class="lg:text-[16px] text-[14px] text-[#164377] leading-[160%]">
        <PortableText value={description} />
      </div>
    </section>

    <section class="lg:col-span-6 hidden lg:block">
      <FlowDiagram {flowDiagram} />
    </section>
  </div>

  {
    !!businessSolutions?.length && (
      <BusinessSolution client:load {businessSolutions} />
    )
  }
</section>
