---
import PortableText from '@/components/PortableText.astro';
import Description from '@/components/ui/Description.svelte';
import H2 from '@/components/ui/H2.svelte';
import H5 from '@/components/ui/H5.svelte';
import type { EasyBanking } from '@/lib/types/homePage';
import IntegratedTechnologyFlow from './flow/IntegratedTechnologyFlow.svelte';
import TechnologyStackMobileLayout from './stack/TechnologyStackMobileLayout.svelte';
import TechnologyStackDesktopLayout from './stack/desktop-layout/TechnologyStackDesktopLayout.svelte';

const { title, subtitle, description, integratedTechnologyFlow } =
  Astro.props as EasyBanking;
---

<section class="container py-[48px] lg:py-[128px]">
  <div
    class="grid grid-cols-1 pb-[24px] lg:grid-cols-2 lg:gap-x-[30px] lg:pb-0"
  >
    <article class="space-y-article">
      <H5>{title}</H5>
      <H2>{subtitle}</H2>
      <IntegratedTechnologyFlow
        class="block lg:hidden"
        {integratedTechnologyFlow}
      />
      <Description>
        <PortableText value={description} />
      </Description>
    </article>

    <IntegratedTechnologyFlow
      class="hidden lg:block"
      {integratedTechnologyFlow}
    />
  </div>

  {
    !!integratedTechnologyFlow.length && (
      <>
        <TechnologyStackDesktopLayout
          class="hidden lg:block"
          client:load
          {integratedTechnologyFlow}
        />
        <TechnologyStackMobileLayout
          class="lg:hidden"
          {integratedTechnologyFlow}
        />
      </>
    )
  }
</section>
