---
import PortableText from '@/components/PortableText.astro';
import Description from '@/components/ui/Description.svelte';
import H2 from '@/components/ui/H2.svelte';
import H5 from '@/components/ui/H5.svelte';
import type { EasyBanking as Props } from '@/lib/types/homePage';
import Diagram from './diagram/Diagram.svelte';
import StackCards from './stack/StackCards.svelte';
import Carousel from './Carousel.svelte';

const { title, subtitle, description, diagram, solutions } = Astro.props;
---

<section class="container py-[48px] lg:py-[128px]">
  <div
    class="grid grid-cols-1 pb-[24px] lg:grid-cols-2 lg:gap-x-[30px] lg:pb-0"
  >
    <article class="space-y-article">
      <H5>{title}</H5>
      <H2>{subtitle}</H2>
      {
        !!diagram?.length && (
          <Diagram client:load class="block lg:hidden" {diagram} />
        )
      }
      <Description>
        <PortableText value={description} />
      </Description>
    </article>

    {
      !!diagram?.length && (
        <Diagram client:load class="hidden lg:block" {diagram} />
      )
    }
  </div>

  {
    !!diagram?.length && (
      <>
        <StackCards class="hidden lg:block" client:idle {solutions} />
        <Carousel class="lg:hidden" client:idle {solutions} />
      </>
    )
  }
</section>
